@page "/pizza/home"
@model HomeModel
@{
    ViewData["Title"] = "Pizza page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <a asp-page="./create" class="btn btn-primary">Add New Pizza</a>
        </div>
    </div>
    <div class="row">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.allPizza)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td><a asp-page="./edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a></td>
                        <td><a asp-page="./delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>